.about {
  padding: 0;
  margin-top: 96px;
  padding-left: 24px;

  &__gallery {
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    height: 576px;
    position: relative;
  }

  &__gallery-preview {
    bottom: 0;
    height: 489px;
    position: absolute;
    left: 0;
    width: 648px;
  }

  &__gallery-descriptions {
    align-items: center;
    background-color: $white;
    display: flex;
    justify-content: center;
    padding: 64px 158px 166px 312px;
    margin: 0;
    height: 576px;
    width: 895px;
  }

  &__gallery-descriptions-wrapper {
    position: relative;
  }
  &__gallery-demo-descr {
    padding: 0;
    margin: 0;
  }

  &__gallery-demo-descr-title {
    margin: 0;
    padding: 0;
  }

  &__gallery-demo-descr-title::selection {
    background: transparent;
  }

  &__gallery-demo-text {
    font-family: $font-family;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 24px 0;
  }

  &__process {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 96px 136px 0;
  }

  &__process-block {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__process-block-img {
    width: 248px;
    height: fit-content;
  }

  &__process-block-title {
    text-align: center;
    margin: 0;
    padding: 39px 0 24px;
  }

  &__process-block-text {
    font-family: $font-family;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  &__process-block-text p {
    margin: 0;
    padding: 0;
  }
}