.about {
  padding: 0;
  max-width: 1368px;
  margin: 0 auto;

  &__gallery {
    display: flex;
  }

  &__gallery-wrapper {
    align-items: flex-end;
    display: flex;
    //height: 576px;
    height: auto;
    position: relative;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__gallery-preview {
    bottom: 0;
    height: 489px;
    position: absolute;
    right: 24px;
    width: 648px;

    @media (max-width: 1024px) {
      width: 60%;
      height: auto;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__gallery-descriptions-wrapper {
    align-items: center;
    background-color: $white;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 64px 335px 42px 136px;
    height: auto;
    width: 66%;

    @media (max-width: 980px) {
      padding: 64px 320px 42px 80px;
    }

    @media (max-width: 768px) {
      width: 100%;
      padding: 40px 24px 56px 24px;
    }
  }

  &__gallery-descriptions {
    margin: 0;
    padding: 0;

    @media (max-width: 768px) {
      display: block;
      width: 100%;
    }
  }

  &__gallery-demo-slider {
    display: none;

    @media (max-width: 768px) {
      display: flex;
    }
  }

  &__gallery-demo-descr {
    padding: 0;
    margin: 0;
  }

  &__gallery-descriptions-btn {
    display: flex;
    margin-top: 102px;
    padding: 0;
    justify-content: flex-end;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__gallery-demo-descr-title {
    margin: 0;
    padding: 0;
  }

  &__gallery-demo-descr-title::selection {
    background: transparent;
  }

  &__gallery-demo-text-wrapper {
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin-top: 24px;

    @media (max-width: 768px) {
      margin-top: 0;
      padding-bottom: 24px;
      height: auto;
    }
  }

  &__gallery-demo-text {
    font-family: $font-family;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;

    @media (max-width: 768px) {
      padding-top: 24px;
    }
  }

  &__process {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 96px 136px 0;

    @media (max-width: 980px) {
      margin: 96px 60px 0;
    }

    @media (max-width: 768px) {
      margin: 0;
      flex-direction: column;
    }
  }

  &__process-block {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    @media (max-width: 768px) {
     padding-left: 24px;
     padding-top: 40px;
    }
  }

  &__process-block-img {
    width: 248px;
    height: fit-content;
  }

  &__process-block-title {
    margin: 0;
    padding: 39px 0 24px;

    @media (max-width: 768px) {
      padding: 24px 0 8px 0;
    }
  }

  &__process-block-text {
    font-family: $font-family;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__process-block-text p {
    margin: 0;
    padding: 0;
  }
}