.address {
  display: flex;
  justify-content: center;
  margin: 112px auto 0;
  padding: 0;
  max-width: 1368px;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 64px;
  }

  &__map {
    width: 45%;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__map iframe {
    width: 100%;
    height: 100%;
  }

  &__content {
    background-color: $white;
    margin: 0;
    padding: 64px 74px 40px 112px;
    width: 55%;

    @media (max-width: 1200px) {
      padding: 40px 40px 40px 60px;
    }

    @media (max-width: 768px) {
      padding: 40px 24px 45px;
      margin: 0;
      width: 100%;
    }
  }

  &__headline {
    padding-bottom: 16px;
    margin: 0;

    @media (max-width: 768px) {
      padding-bottom: 24px;
    }
  }

  &__sign {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    width: 75%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__content-wrapper {
    display: flex;
    margin-top: 56px;
    padding: 0;
    justify-content: space-between;
    align-items: baseline;

    @media (max-width: 768px) {
      flex-direction: column;
      margin-top: 40px;
    }
  }

  &__content-contacts,
  &__content-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  &__content-contacts {
    width: 237px;
  }

  &__content-address {
    width: 180px;
  }  

  &__content-contacts {
    font-size: 18px;
    line-height: 22px;
  }

  &__content-connection {
    height: 45px;
  }

  &__content-connection.m-time {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__content-connection-mobile {
    display: none;

    @media (max-width: 768px) {
      display: block;
      height: 45px;
      padding-top: 24px;
      margin: 0;
    }
  }

  &__content-contacts-branch {
    margin-top: 32px;

    @media (max-width: 768px) {
      margin-top: 40px;
    }
  }

  &__content-contacts  div > p,
  &__content-address div > p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;

    @media (max-width: 1024px) {
      font-size: 16px;
    }
  }

  &__content-contacts--tel {
    font-weight: 600;
  }

  &__content-contacts--bold {
    font-weight: 500;
  }

  &__content-contacts--email.m-margin {
    margin-top: 8px;
  }

  &__content-contacts--email,
  &__content-contacts--tel {
    color: $black;
    cursor: pointer;
  }

  &__content-contacts--tel:hover,
  &__content-contacts--email:hover {
    color: $green;
    outline: none;
  }

  &__content-contacts--bold.m-margin {
    margin-bottom: 16px;
  }

  h3 {
    padding-top: 56px;
    margin: 0;
  }

  &__content-communic {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
    margin-top: 36px;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      margin-bottom: 24px;
    }

    @media (max-width: 768px) {
      margin-top: 40px;
      margin-bottom: 0;
    }
  }

  &__content-icons {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    padding: 0;
    width: 100%;

    &--instargam {
      padding: 0;
      margin-right: 16px;
    }

    &--whatsapp {
      padding: 0;
      margin: 0;
    }

    &.m-burger {
      justify-content: flex-start;
      padding: 0;
      margin: 0;
    }
  }

  &__content-icons svg {
    fill: #232323;
  }

  &__content-icons svg:hover {
    fill: #2FA06A;
  } 

  .feedback__formletter-personal--tel.m-address {
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .feedback__formletter-personal--telfield.m-address {
    font-size: 16px;
    line-height: 24px;

    @media (max-width: 768px) {
      max-width: 200px;
    }
  }

  .personal-social.m-address {
    font-size: 14px;
    line-height: 24px;
  }

  .feedback__formletter-consent--confirm.m-address {
    display: flex;
    margin-right: 24px;

    @media (max-width: 980px) {
      align-items: flex-end;
    }

    @media (max-width: 768px) {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }

  .feedback__checkbox.m-address {
    height: 50px;
  }

  .feedback__formletter-consent--btn.m-address {
    max-width: 174px;
    height: 56px;

    @media (max-width: 768px) {
      width: 174px;
      margin-bottom: 24px;
      margin-top: 28px;
    }
  }
}

.feedback__formletter-consent--btn.m-consult {
  width: 177px;
  height: 56px;
  margin-left: 16px;
  padding: 0;

  @media (max-width: 768px) {
    width: 100%;
  }
}

