.ideas {
  display: flex;
  margin: 0 auto;
  padding: 0;

  &__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 112px;
    padding: 0;

    @media (max-width: 768px) {
      margin-top: 96px;
    }
  }

  &__content-text {
    text-align: left;
    padding-left: 136px;
    margin: 0;
    
    
    &--link,
    &--link a{
      color: #FF4343;
    }

    &--link a:hover {
      color: white;
    }

    @media (max-width: 768px) {
      padding-left: 24px;
     
    }
  }

  &__content-text.m-ideas {
    padding-top: 64px;
    margin: 0;
    width: 67%;

    @media (max-width: 768px) {
      padding: 40px 0 32px 24px;
      width: 100%;
    }
  }

  &__content-text.m-content {
    width: 55%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__content-inner {
    display: flex;
    text-align: left;
    margin: 0;
    padding: 56px 24px 0;
    height: 400px;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      padding: 32px 24px 0;
      height: auto;
    }
  }

  &__content-inner-block {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    height: fit-content;
    width: 25%;

    @media (max-width: 768px) {
      width: 45%;
      margin-right: 24px;
    }
  }

  &__content-inner-block:nth-child(2) {
    margin-right: 24px;

    @media (max-width: 768px) {
      margin-right: 0;
    }
  }

  &__content-inner-block:nth-child(4) {
    margin-right: 0;
  }

  &__content-inner-block.m-block-1{
    background-image: url(../img/about-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    width: 100%;

    @media (max-width: 460px) {
      height: 168px;
    }
  }
  &__content-inner-block.m-block-2{
    background-image: url(../img/about-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    width: 100%;

    @media (max-width: 460px) {
      height: 168px;
    }
  }

  &__content-inner-block.m-block-3 {
    background-image: url(../img/about-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    width: 100%;

    @media (max-width: 460px) {
      height: 168px;
    }
  }

  &__content-inner-block.m-block-4 {
    background-image: url(../img/about-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    width: 100%;

    @media (max-width: 768px) {
      height: 168px;
    }
  }

  &__content-inner-block-text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 0;
    padding: 0;

    @media (max-width: 768px) {
      margin: 9px 0 31px;
    }
  }

  &__content-layout {
    position: relative;
    padding: 0;
    margin-top: 96px;
    width: 100%;

    @media (max-width: 768px) {
      margin-top: 26px;
    }
  }

  &__content-layout-bcg {
    position: absolute;
    left: 0;
    top: 0;
    width: 74%;
    height: 100%;
    background-color: $white;
    z-index: -1;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__menu {
    align-items: center;
    display: flex;
    margin: 56px 112px 0;
    padding: 0;

    @media (max-width: 980px) {
      display: flex;
      margin: 56px 56px 0;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__content-idea-wrapper {
    margin: 0;
    padding: 0;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__content-idea.m-active {
    display: flex;
    padding: 24px 24px 0 24px;
    margin: 0;
    width: 100%;
  }

  &__content-idea-block-center {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    margin: 0;
    width: 40%;
  }

  &__content-idea-block-right {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 0;
    margin: 0;
  }

  &__content-idea-block-left {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 0;
    margin: 0;
  }

  &__content-block-left-top,
  &__content-block-right-top {
    height: 256px;
    padding-bottom: 8px;
    margin: 0;
    width: 100%;
  }

  &__content-block-center-top {
    height: 336px;
    padding-bottom: 8px;
    margin: 0;
    width: 100%;
  }

  &__content-block-center-bottom {
    height: 352px;
    width: 100%;
  }

  //hover-effect  img-block
  #al-c {
    display: table;
    width: 100%;
  }

  &__container {
    padding: 0;
    margin: 0;
  }

  &__container.m-hover-text {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 36px 23px 33px 53px;
  }

  &__container-effects {
    list-style:none;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  &__content-hover-text {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 16px;
    margin: 0;
  }

  &__content-list {
    display: flex;
    flex-direction: column;
    list-style: square;
    margin: 0;
    padding-bottom: 16px;
    padding-left: 18px;
  }

  &__content-list-item {
    font-family: $font-family-title;
    font-size: 16px;
    line-height: 20px;
    list-style-type: square;
    //padding-top: 8px;
    //margin-left: 18px;
  }

  &__container-effects-block {
    position: relative;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  &__container-effects-hoverblock > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__container-effects-hoverblock:hover > div {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }

  &__container-effects-hoverblock {
    opacity: 0;
    display: flex;
    align-items: center;
  }

  &__container-effects-block-img.m-top {
    height: 256px;
    width: 100%;
  }

  &__container-effects-block-img.m-bottom {
    height: 432px;
    width: 100%;
  }

  &__container-effects-block-img.m-center-top {
    height: 336px;
    width: 100%;
  }

  &__container-effects-block-img.m-center-bottom {
    height: 352px;
    width: 100%;
  }

  &__container-effects-block:hover img {
    transform: scaleY(1);
    transition: all .7s ease-in-out;
    opacity: .3;
  }

  &__container-effects-block:hover .ideas__container-effects-hoverblock {
    opacity: 1;
  }

  &__content-idea-block-text {
    font-family: $font-family;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
    padding: 0;
  }

  &__content-idea-block-btn {
    margin: 0;
    padding: 0;
    width: 184px;
    height: 56px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.08em;

    &.m-mobile {
      width: 100%;
    }
  } 

  //layout-mobile
  &__content-layout-mobile {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      position: relative;
      margin: 0;
      padding: 0 0 34px 24px;
    }
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 32px;
    width: 100%;
  }

  &__accordion-tab input, 
  &__accordion-tab-content { 
    display: none; 
  }

  &__accordion-tab {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
    line-height: 0;
    color: $black; /* Цвет текста */
    padding: 0;
    margin-bottom: 24px; /* Расстояние между пунктами */
  }

  .swiper-slide-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding-top: 8px;
    margin: 0;
  }

  &__accordion-tab-title {
    padding: 0 0 24px; /* Поля вокруг текста */
    display: block; /* Блочный элемент */
    text-transform: uppercase; /* Все буквы заглавные */
    font-weight: bold; /* Жирное начертание */
    cursor: pointer; /* Вид курсора */
    outline: none;
  }

  &__accordion-tab-content {
    padding-right: 24px; /* Поля вокруг текста */
    width: 100%;
  }

  &__accordion-tab :checked + &__accordion-tab-title {
    color: $green; /* Цвет текста */
  }
  
  &__accordion-tab :checked ~ &__accordion-tab-content {
    display: block; /* Показываем содержимое */
    margin: auto;
    padding-bottom: 20px;
  }
}

.main-nav__list.m-ideas {
  justify-content: space-between;
}
