.instagram {
  margin-top: 115px;
  padding: 0;
  position: relative;

  &__title {
    margin: 0;
    padding-left: 105px;
    padding-bottom: 26px;
  }

  &__gallery {
    padding: 0 24px;
    height: 312px;

    .swiper-container.m-instagram {
      height: 312px;
    }
  }

  
}

.swiper-btnprev-instagram {
  position: absolute;
  top: 12px;
  left: 83%;
  outline: none;
  cursor: pointer;
}

.swiper-btnnext-instagram {
  position: absolute;
  top: 12px;
  left: 88%;
  outline: none;
  cursor: pointer;
}