.swiper-wrapper {
  display: flex;
  margin: auto;
}

.swiper-slide {
  margin: auto;
}

// .swiper-slide.swiper-slide-active {
//   width: 100%;
// }

.swiper {
  &__demo-foto {
    width: 100%;
  }
}

.swiper-btnnext {
  cursor: pointer;
  margin: 0;
  padding: 0;
  z-index: 1;
  outline: none;
  height: fit-content;

  &--color {
    width: 40px;
    height: 20px;
    fill: $black;
  }

  &--color:hover {
    fill: $green;
  }
}

.swiper-btnprev {
  cursor: pointer;
  margin: 0;
  padding: 0;
  outline: none;
  height: fit-content;
  z-index: 1;

  &--color {
    width: 40px;
    height: 20px;
    fill: $black;
  }

  &--color:hover {
    fill: #2FA06A;
  }
}

.swiper-btnnext.swiper-button-disabled {
  opacity: .35;
  cursor: default;
} 

.swiper-btnprev.swiper-button-disabled {
  opacity: .35;
  cursor: default;
}

.swiper__ideas-wrapper {
  display: flex;
  width: 312px;
  margin: auto;
  padding-bottom: 32px;
}

.swiper__ideas-foto {
  height: 312px;
  width: 100%;
}

// .swiper-pagination-bullet-active {
//   opacity: 1;
//   background: #2FA06A;
// }