html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  list-style-type: none;
}

html, body {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  position: relative;
  height: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: $black;
  background-color: $grey-bcg;
}

.wrapper {
  max-width: 1368px;
  margin: 0 auto;
}

h2 {
  font-family: $font-family-title;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: $black;

  @media (max-width: 768px) {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
  }
}

h3 {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  @media (max-width: 768px) {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}

a {
  text-decoration: none;
  list-style-type: none;
}

img {
  height: auto;
}

svg path {
  stroke:inherit;
  stroke-width:inherit;
  fill:inherit;
}

.btn {
  color: #fff;
  cursor: pointer;
  border: none;
  background-color: #000;
  text-transform: uppercase;
  height: 80px;
  outline: none;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.btn:hover {
  background-color: $green;
}

//button Up
#buttonUp {
  display: inline-block;
  background-color: $black;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 26px;
  position: fixed;
  bottom: 85px;
  right: 24px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  //transform: rotate(45deg);
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

.buttonUp__svg {
  fill: #fff;
  transform: rotate(90deg);
  width: 20px;
  position: relative;
  top: 11px;
  right: 1px;
  height: 23px;
  width: 20px;
}

#buttonUp:active {
  background-color: $green;
}

#buttonUp.show {
  opacity: 1;
  visibility: visible;
}
